.button
{
	font-size: 14px;
	padding: 8px 16px;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: #7F8C8D;
	border: 0;
	margin: 0;
}

/* OVERRIDING MOZILLA DEFAULTS */
input::-moz-focus-inner,
button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}

/* CURSOR TYPE TO HAND ON HOVER */
input[type="submit"].button,
input[type="reset"].button,
button.button
{
	cursor: pointer;
	outline: none;
}

/* BUTTON TYPES */
.button-full-width
{
	font-size: 16px;
	width: 96%;
	padding: 10px 10px;
}

.button-small
{
	font-size: 12px;
	padding: 6px 14px;
}

.button-medium
{
	font-size: 16px;
	padding: 10px 18px;
}

.button-large
{
	font-size: 18px;
	padding: 12px 20px;
}


/* BUTTON STYLES */

.button-primary
{
	background-color: #7F8C8D;
	color: #FFFFFF;
}

.button-primary:hover
{
	background-color: #95A5A6;
}

.button-secondary
{
	background-color: #2C3E50;
	color: #FFFFFF;
}

.button-secondary:hover
{
	background-color: #34495E;
}

.button-success
{
	background-color: #16A085;
	color: #FFFFFF;
}

.button-success:hover
{
	background-color: #1ABC9C;
}

.button-warning
{
	background-color: #C0392B;
	color: #FFFFFF;
}

.button-warning:hover
{
	background-color: #E74C3C; 
}

.button-info
{
	background-color: #2980B9;
	color: #FFFFFF;
}

.button-info:hover
{
	background-color: #3498DB;
}

.button-side-links
{
	background-color: #27AE60;
	color: #FFFFFF;
}

.button-side-links:hover
{
	background-color: #2ECC71;
}