input:focus
{
	outline: 0;
}

select:focus
{
	outline: 0;
}

input[type=text],input[type=password],select
{
	font-size: 12px;
	color: #FFFFFF;
	color : #000000\9;
	border: none;
	border-radius: 5px;
	padding: 10px 5px;
	background: rgba(23, 21, 21, 0.65);
}