﻿.graph
{
    width:96%;
    font-family: Arial;
    margin: auto;
}
 
.record
{
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E74C3C;
    margin-bottom: 2px;
    -moz-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
}
 
.bar
{
    background: #2ECC71;
    float: left;
    clear: left;
    height: 30px;
 }
 
.bar span
{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    float: left;
    margin-left: 5px;
    margin-top: 7px;
}
 
.p
{
    padding-top: 3px;
    float: right;
    color: #6D8591;
    clear: right;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
}
 
.p span
{
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.base
{
    margin-top: 10px;
    background-image: url('../images/bar.gif');
    background-repeat: no-repeat;
    background-size:  100%;
    width: 100%;
    height: 30px;
}